

// 01. Global styles
// -----------------


// Línea 134
.button {
  border-radius: 50px;
  padding: 0.75em 2em;
}

// Línea 710
.top-links {
  background: $brand-grey;
  color: $black;

  .social {
    a span:before {
      vertical-align: sub;
    }
    a:hover {
      text-decoration: none;
    }
    li:after {
      vertical-align: super;
    }
  }

  li {
    @include breakpoint(medium) {
      &::after {
        content: none;
      }
    }
  }
}

// Línea 895
// 03. Footer
// ----------

// Línea 941
.footer {
  background-color: $brand;
  border-top: none;
  padding-top: 0px;
  min-height: auto;

  footer {
    color: white;
    padding-top: 3rem;
    padding-bottom: 1rem;

    a {
      color: white;
    }

    .subfooter {
      border-top: 1px solid white;
    }
  }
}


// 24. Homepage
// ------------

.home-page,
.custom-page,
.sdg-goal-show,
.sdg-goals-index {

  .cards-container {
    .card a {
      background: $brand-grey;
      border-radius: 20px;
      height: 100%;
    }
  }

  .card {
    a:hover {

      .figure-card img {
        transform: none;
      }
    }

    p,
    .sdg-tag-list {
      padding: none;
      padding-left: 17px;
      padding-right: 17px;
    }
  }

  h2 {
    &.title {
      @include header-font-size(h3);
    }
  }

}


.figure-card {
  border-radius: 20px 20px 0 0;

  .gradient {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 4.67%, rgba(0, 0, 0, 0.7) 93.45%);
  }

  figcaption {
    h3 {
      padding-right: rem-calc(100px);
    }
  }
}
