// Add custom variables in this file. For example, define a new variable
// called `$important-link` which you can use in your custom CSS files.
//
// To override existing variables, use the file named
// `_consul_custom_overrides.scss` instead

$brand-green: #E5E9F2;
$brand-pink: #d5278a;
$brand-blue: #004A83;
$grey: #f5f4f4;
