<div class="row videos">
  <div class="small-12 medium-12 text-right column">
    <div class="small-12 medium-6 large-6 column">
      <div class="videoWrapper">
        <iframe title="Tutorial de Registro - LAS PALMAS DE GRAN CANARIA" src="https://www.youtube.com/embed/aAgSYQqVGns?rel=0&showinfo=0&controls=0&enablejsapi=1" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
      </div>
    </div>
    <div class="small-12 medium-6 large-6 column">
      <div class="videoWrapper">
        <iframe title="Tutorial de votación de propuestas - LAS PALMAS DE GRAN CANARIA" src="https://www.youtube.com/embed/KOU6I2HH86k?rel=0&showinfo=0&controls=0&enablejsapi=1" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
      </div>
    </div>
  </div>
</div>
